@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #000000;
  --dark-green: #013220;
}

html, body, #root {
  background: #000 !important;
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}